$border-color: #4f4d4d;

.bordure_cursor {
    display: none;
    position: absolute;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
    height: 25px;
    width: 100%;
    pointer-events: none;
    cursor: pointer;
}
