$height-textarea: 100%;

.contenaire {
    display: flex;
    flex: 1;
    flex-direction: row;

    .left_sidebar {
        background-color: aliceblue;
        height: 100%;
        background-color: rgb(38, 39, 40);
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 2px solid rgb(57, 59, 59);

        .title {
            position: absolute;
            left: 50px;
            user-select: none;
            pointer-events: none;
            z-index: 999999;
            background-color: rgb(43, 46, 48);
            padding: 5px;
            border: 2px solid rgb(57, 59, 59);
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            text-align: center;
            visibility: hidden;
            opacity: 0;

            &::before {
                content: '';
                position: absolute;
                top: 38%;
                left: -14px;
                width: 12px;
                height: 12px;
                background-color: rgb(43, 46, 48);
                border-left: 2px solid rgb(57, 59, 59);
                border-bottom: 2px solid rgb(57, 59, 59);
                transform: rotate(45deg) translateY(-50%);
                border-radius: 2px;
            }
        }

        .bottom {
            border-top: 2px solid rgb(57, 59, 59);
            margin-top: auto;
        }

        .separator {
            margin: 5px;
            width: 40px;
            height: 40px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: rgb(44, 45, 45);
                border-radius: 5px;
                cursor: pointer;

                .title {
                    transition: all 0.3s ease;
                    z-index: 999999;
                    transform: translateY(-15%) translateX(10px);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .right_contenaire {
        display: flex;
        flex-direction: column;
        flex: 1;

        .InfoBulleZero {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            text-align: center;

            .actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 1;

                .click {
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    margin-bottom: 6.6%;
                    margin-right: 5px;
                }

                .recents {
                    display: flex;
                    flex-direction: column;

                    .recent-element {
                        background-color: rgb(43, 46, 48);
                        width: 400px;
                        height: 200px;
                        border: 2px solid #32363C;
                    }
                }

                .help {
                    margin-left: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    hr {
                        width: 100%;
                        margin-bottom: 5px;
                    }

                    a {
                        color: #0fb2f2;
                        text-decoration: none;
                        border-bottom: 1px solid #2a86db;
                        width: auto;
                        margin-top: 5px;
                    }
                }
            }

            button {
                background-color: rgb(43, 46, 48);
                margin-top: 5px;
                color: #fff;
                border: 2px solid #32363C;
                padding: 5px;
                margin-right: 5px;
                width: 100%;

                &:hover {
                    border: 2px solid #0fb2f2;
                }
            }
        }

        .onglet {
            z-index: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 35px;
            background-color: rgb(38, 38, 39);
            width: 100%;
            border-bottom: 1px solid rgb(57, 59, 59);
            z-index: 3;

            .contenaire {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;

                p {
                    user-select: none;
                }

                .snip {
                    margin-right: auto;
                }
            }

            section {
                display: inline-flex;
                align-items: center;
                height: 100%;
                border-right: 2px solid rgb(57, 59, 59);
                border-bottom: 2px solid transparent;
                width: auto;

                .FermetureOngletX {
                    display: none;
                }

                &.active {
                    background-color: rgb(57, 59, 59);
                    border-bottom: 2px solid #2a86db;
                    z-index: 4;

                    .FermetureOngletX {
                        display: flex;
                        border: 1px solid transparent;

                        &:hover {
                            border: 1px solid #2a86db;
                            border-radius: 5px;
                        }
                    }

                    &:hover {
                        background-color: rgb(57, 59, 59);
                    }
                }

                p {
                    margin-right: 5px;
                }

                svg {
                    margin-right: 5px;
                    margin-left: 5px;
                }

                &:hover {
                    background-color: rgb(44, 45, 45);
                    cursor: pointer;
                }
            }
        }

        .section_code {
            display: flex;
            flex: 1;
        }

        .text_code {
            display: none;
            height: 100%;
            width: 100%;
            z-index: 2;

            &.active {
                display: flex;

            }

            .count {
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y: scroll;
                overflow-y: hidden;
                overflow-x: hidden;
                user-select: none;
                height: 100%;

                .count-sections {
                    width: 100%;
                    margin-left: 5px;
                    margin-right: 5px;
                    text-align: center;

                    p {
                        width: 100%;
                        opacity: 0.5;
                        line-height: 25px;

                        &.active {
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }
}