$height-textarea: 100%;

.contenaire {
    display: flex;
    flex: 1;
    flex-direction: row;

    .left_sidebar {
        background-color: aliceblue;
        height: 100%;
        background-color: rgb(38, 39, 40);
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 2px solid rgb(57, 59, 59);

        .bottom {
            border-top: 2px solid rgb(57, 59, 59);
            margin-top: auto;
        }

        .separator {
            margin: 5px;
            width: 40px;
            height: 40px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: rgb(44, 45, 45);
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .right_contenaire {
        display: flex;
        flex-direction: column;
        flex: 1;

        .onglet {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 35px;
            background-color: rgb(38, 38, 39);
            width: 100%;
            border-bottom: 1px solid rgb(57, 59, 59);
            z-index: 3;

            .contenaire {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;

                p {
                    user-select: none;
                }

                .snip {
                    margin-right: auto;
                }
            }

            section {
                display: inline-flex;
                align-items: center;
                height: 100%;
                border-right: 2px solid rgb(57, 59, 59);
                border-bottom: 2px solid transparent;
                width: auto;

                &.active {
                    background-color: rgb(57, 59, 59);
                    border-bottom: 2px solid #2a86db;

                    &:hover {
                        background-color: rgb(57, 59, 59);
                    }
                }

                p {
                    margin-right: 5px;
                }

                svg {
                    margin-right: 5px;
                    margin-left: 5px;
                }

                &:hover {
                    background-color: rgb(44, 45, 45);
                    cursor: pointer;
                }
            }
        }

        .section_code {
            display: flex;
            flex: 1;
        }

        .text_code {
            display: none;
            height: 100%;
            width: 100%;

            &.active {
                display: flex;
            }

            .count {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y: scroll;
                overflow-y: hidden;
                overflow-x: hidden;
                user-select: none;
                height: 100%;
                text-align: center;

                p {
                    margin-right: 5px;
                    margin-left: 5px;
                    text-align: center;
                    width: 100%;
                    opacity: 0.5;
                    line-height: 25px;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}