@import url(./components/Header/Header.scss);
@import url(./Contenaire/Contenaire.scss);
@import url(./components/Scrollbar/Scrollbar.scss);
@import url(./components/TextArea/Textarea.scss);
@import url(./components/TopSideBar/TopSideBar.scss);
@import url(./components/cursor/BorderCursor.scss);
@import url(./components/Button/Button.scss);

$BackgroundColor: rgb(38, 39, 40);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $BackgroundColor;
    color: #fff;
    font-family: 'Open sans', sans-serif;
    width: 100%;
    height: 100dvh;
    min-height: 100dvh;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

::selection {
    background-color: #1c83e3;
    color: #fff;
}