@import url(./Header.scss);
@import url(./Contenaire.scss);
@import url(./Scrollbar.scss);
@import url(./Textarea.scss);
@import url(./TopSideBar.scss);
@import url(./BorderCursor.scss);

$BackgroundColor: rgb(38, 39, 40);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $BackgroundColor;
    color: #fff;
    font-family: 'Open sans', sans-serif;
    width: 100%;
    height: 100dvh;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

::selection{
    background-color: #1c83e3;
    color: #fff;
}