* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'System UI', sans-serif;
    font-size: 15px;
}

object {
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 {
    font-size: 15px;
    font-weight: 100;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
}

header .left {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 2px;
    -webkit-app-region: no-drag;
    height: 100%;
}

header .left p {
    height: 100%;
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: auto;
}

header .left p:hover{
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

header .left .translate_90deg span{
    transform: rotate(90deg);
}

header .left .translate_190deg span{
    transform: rotate(270deg);
}


.contenaire {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.workspace {
    border-right: 1px solid black;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    width: 70px;
}

.separator {
    margin: 5px;
    border: 1px solid white;
}

.workspace object {
    width: 100%;
    height: 50px;
    color: black;
    display: flex;
    padding: 5px;
    border: none;
}

.workspace .separator:hover {
    border: 1px solid #333;
}