@import url("header.css");
@import url("scrollbar.css");
@import url("onglet.css");
@import url("workspace.css");
@import url("file.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'System UI', sans-serif;
    font-size: 15px;
    color: #fff;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow-y: hidden;
}

.contenaire_ {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

h1 {
    font-size: 15px;
    font-weight: 100;
}

.contenaire {
    display: flex;
    flex-direction: column;
    height: 100%;
}