.file {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#line-container {
    display: flex;
    float: left;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.file .count {
    border: 1px solid #000;
    height: 90vh;
    display: flex;
    text-align: center;
    overflow: hidden;
}

.file .count span{
    width: 100%;
    margin-right: 15px;
    opacity: 0.5;
}

.file .count span.selected{
    opacity: 1;
}

.file textarea {
    height: 90vh;
    width: 100%;
    position: relative;
    outline: none;
    overflow-y: auto;
    resize: none;
    color: #fff;
    border: 1px solid rgb(44, 43, 43);
    background-color: rgb(44, 43, 43);
}

.file .text_code {
    height: 100%;
    width: 100%;
}