.file {
    display: none;
    flex-direction: row;
    flex: 1;
    color: #fff;
    border-bottom: 1px solid rgb(44, 43, 43);
    background-color: #26282E;
}

textarea {
    background-color: #26282E;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    height: 100%;
    resize: none;
    text-align: left;
    padding: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.file .count {
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    height: 752px;
    border-right: 1px solid #5d5b5b;
    border-bottom: 2px solid #5d5b5b;
}

.file .count p {
    opacity: 0.5;
    line-height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.file .count p.selected {
    opacity: 1;
}

.file.activeContenu .text_code {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.file.activeContenu .text_code .text_area {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.file.activeContenu {
    display: flex;
    height: 100%;
    width: 100%;
}

.file.activeContenu .text_separator {
    background-color: #26282E;
    border-top: 2px solid #5d5b5b;
    width: 100%;

    /* Gestion de la ligne séparateur */
    height: 30%;
}

.file.activeContenu .count {
    text-align: center;
    overflow: hidden;
    background-color: #26282E;
}

.file.activeContenu .count p {
    opacity: 0.5;
}

.file.activeContenu .count p.selected {
    opacity: 1;
}

.file_onglets{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.file_onglets .file{
    display: none;
}

.file_onglets .file.file.activeContenu{
    display: flex;
}