header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-bottom: 1px solid rgb(62, 59, 59);
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
}

header .right {
    display: flex;
    height: 100%;
    align-items: center;
}

header .right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    -webkit-app-region: no-drag;
    height: 100%;
}

header .right ul li:hover {
    background-color: rgb(89, 87, 87);
}

header .right ul li {
    margin-right: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2px;
}

header img {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

header .left {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 2px;
    -webkit-app-region: no-drag;
    height: 100%;
}

header .left p {
    height: 100%;
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: auto;
}

header .left p:hover {
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
}

header .left .translate_90deg span {
    transform: rotate(90deg);
}

header .left .translate_190deg span {
    transform: rotate(270deg);
}