:root {
    --border-bottom: 1px solid rgb(44, 43, 43);
    --color-bottom-active-hexa: #2a86db;
    --color-hexa-border: #3f3c3c;
    --transparent: transparent;
    --border-global: 2px;
    --height-object: 20px;
}

.onglet {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    border-bottom: var(--border-bottom);
}

.onglet section {
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 30px;
    text-align: left;
    align-items: center;
    border-bottom: var(--border-global) solid var(--transparent);
    background-color: var(--transparent);
}

.onglet section:hover {
    border-bottom: var(--border-global) solid var(--color-hexa-border);
    background-color: var(--color-hexa-border);
}

.onglet section.active {
    border-bottom: var(--border-global) solid var(--color-bottom-active-hexa);
    background-color: var(--color-hexa-border);
}

.onglet object {
    width: var(--height-object);
    height: var(--height-object);
    margin-right: 5px;
}