.onglet {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgb(44, 43, 43);
}

.onglet section {
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 30px;
    text-align: left;
    align-items: center;
    border-left: 1px solid rgb(44, 43, 43);
}

.onglet section:hover {
    background-color: rgb(44, 43, 43);
}

.onglet section.active {
    border-bottom: 1px solid #1cc4db;
    background-color: transparent;
    background-color: #3f3c3c;
}

.onglet object {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}