*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(76, 72, 72);
    border-radius: 20px;
    cursor: pointer;
}