.workspace {
    border-right: 1px solid rgb(44, 43, 43);
    display: flex;
    flex-direction: column;
    width: 70px;
}

.workspace img {
    height: 50px;
    color: black;
    display: flex;
    padding: 5px;
    border: none;
    opacity: 0.5;
    border: 1px solid transparent;
    border-radius: 5px;
}

.workspace img:hover,
.separator {
    opacity: 1;
    border: 1px solid #6f6f6fcb;
    background-color: #6f6f6f8f;
}

.separator {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: transparent;
}